<h1><%= @list.title %></h1>
<%= form_for @list do |f| %>
  <%= f.label :complete, "status:"  %>
  <%= f.check_box :complete %>
  <%= f.submit  %>
<% end %>
<ul>
  <% @list.tasks.each do |task| %>
  <li>
    <%= task.label %>
    <%= form_for task do |f| %>
      <%= f.label :complete, "status:"  %>
      <%= f.check_box :complete %>
      <%= f.submit %>
    <% end %>
  </li>
  <% end %>
</ul>